<div class="mt-4">
  <div class="row">
    <div class="col-lg-3">
      <a class="btn btn-secondary" href="/">← Quay lại</a>
    </div>

    <div class="col-lg-9">
      <h3>{{course.name}}</h3>
      {{#if course.videoId}}
        <iframe
          width="1000"
          height="500"
          src="https://www.youtube.com/embed/{{course.videoId}}"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      {{/if}}
      <p>{{course.description}}</p>
    </div>
  </div>
</div>